* {
    margin: 0;
    padding: 0;
}

body{
    margin: 10px;
}

.header {
    display: flex;
    border: solid 2px black;
    height: 80px;
    align-items: center;
    background-color: violet;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.menu {
    background-color: aquamarine;
    width: 60%;
    border: solid 2px black;
    padding: 5px;
    box-sizing: border-box;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.article{
    width: 65%;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article1, .article2 {
    width: 100%;
    height: 48%;
    background-color: aquamarine;
    border: solid 2px black;
    box-sizing: border-box;
    color: white;
    text-align: center; 
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar{
    width: 30%;
    background-color: blue;
    border: solid 2px black;
    box-sizing: border-box;
    height: 300px;
    color: white;
    text-align: center;
    line-height: 300px;
    font-size: 24px;
}

.footer{
    background-color: blueviolet;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid 2px black;
    margin-top: 10px;
    color: white;
    font-size: 24px;
}
